@using StockPortfolioTracker.Common
@inject IJSRuntime JSRuntime

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Portfolio Tracker</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Assets
    </div>

    <!-- Equity Section -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEquitySection"
           aria-expanded="true" aria-controls="collapseEquitySection">
            <i class="fas fa-fw fa-cog"></i>
            <span>Equity</span>
        </a>
        <div id="collapseEquitySection" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @{
                    const string ciWatchlist = "ciWatchlist";
                    const string ciRecommendation = "ciRecommendation";
                    const string ciPortfolio = "ciPortfolio";
                    const string ciTransactions = "ciTransactions";
                }

                <h6 class="collapse-header">Watchlist:</h6>
                <a id="@ciWatchlist" class="collapse-item" href="/equity-watchlist" @onclick="() => FocusNavItem(ciWatchlist)">WatchList</a>
                <a id="@ciRecommendation" class="collapse-item" href="/equity-recommendations" @onclick="() => FocusNavItem(ciRecommendation)">Recommendation</a>
                <h6 class="collapse-header">Portfolio:</h6>
                <a id="@ciPortfolio" class="collapse-item" href="/equity-portfolio" @onclick="() => FocusNavItem(ciPortfolio)">Portfolio</a>
                <a id="@ciTransactions" class="collapse-item" href="#" @onclick="() => FocusNavItem(ciTransactions)">Transactions</a>
            </div>
        </div>
    </li>

    <!-- Debt Section -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDebtSection"
           aria-expanded="true" aria-controls="collapseDebtSection">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Debt</span>
        </a>
        <div id="collapseDebtSection" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                @{
                    const string ciBonds = "ciBonds";
                }

                <a id="@ciBonds" class="collapse-item" href="#" @onclick="() => FocusNavItem(ciBonds)">Bonds</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <AuthorizeView Roles="@EntityUserRoles.SUPERUSER">
        <!-- Admin Section -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdminSection"
               aria-expanded="true" aria-controls="collapseAdminSection">
                <i class="fas fa-fw fa-lock"></i>
                <span>Admin</span>
            </a>
            <div id="collapseAdminSection" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a id="ciUsers" class="collapse-item" href="#">Users</a>
                </div>
            </div>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider">
    </AuthorizeView>
    
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" @onclick="SidebarToggled"></button>
    </div>
</ul>


@code
{
    private async Task SidebarToggled()
    {
        await this.JSRuntime!.InvokeVoidAsync("BootstrapMethods.ToggleSidebar");
    }

    private async Task FocusNavItem(string strElementId)
    {
        await this.JSRuntime!.InvokeVoidAsync("BootstrapMethods.FocusNavItem", strElementId);
    }
}